<div class="container-fluid visitor-section">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to Lavender Chat</h1>
            <p class="lead">Join the fun of chatting</p>
            <p>
                <a href="/Home/Login" class="btn btn-primary btn-lg">Login</a>
                <a href="/Home/Register" class="btn btn-default btn-lg">Register</a>
            </p>
        </div>
    </div>
</div>


<div class="container-fluid no-header-section user-section">
    <div class="row">
        <div class="col-md-2">
            <div class="well">
                <h3>Friends List</h3>
                <p></p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a>
                </p>
            </div>
            <div class="well">
                <h3>Groups List</h3>
                <p></p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h2>Messages</h2>
            <span class="help-block">All messages appear in the <strong>Message box below</strong>.</span>
            <div id="logger-wrapper" class="well">
                <ul id="mssgLogger"></ul>
            </div>

            <div>
                <form id="chatForm" class="form-horizontal">
                    <fieldset>
                        <legend>Chat Area</legend>
                        <div class="form-group">
                            <label for="textMessage" class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textMessage" data-sender="@Context.User.Identity.Name"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button id="send" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
   
