<div class="container-fluid no-header-section">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label for="inputUserName" class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputUserName" placeholder="Username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputPassword" placeholder="Password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button id="login" type="submit" class="btn btn-primary">Login</button>
                                <span>or</span>
                                <button type="button" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
