.no-header-section {
    margin-top: 7em;
}

#logger-wrapper {
    height: 150px;
    overflow: auto;
}

    #logger-wrapper ul#mssgLogger {
        padding-left: 20px;
    }

    #logger-wrapper ul#mssgLogger li {
        list-style: none;
    }

.modal {
    /*display:    none;*/
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;/*rgba( 255, 255, 255, .8 )*/ 
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}